body {
    background-color: #F0F8FF; /* 약한 파란색 배경색 */
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333; /* 검은색 */
  }
  
  .stock {
    background-color: #FFFFFF; /* 흰색 배경 */
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #EEE; /* 연한 회색 테두리 */
    border-radius: 5px;
  }
  
  h3 {
    color: #333; /* 검은색 */
  }
  
  p {
    color: #555; /* 약한 회색 */
  }