<!DOCTYPE html>
<html>
<head>
  <title>회원가입</title>
</head>
<body>
  <h2>회원가입</h2>
  <form action="회원가입 처리 페이지의 URL" method="POST">
    <label for="username">사용자명:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="회원가입">
  </form>
</body>
</html>